body{
	font-family: 'Ubuntu', sans-serif;
	background:#000;
	margin:0;
}

.completo{
	width:100%;
}

.grayscale{
	    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all 1s ease; /* Fade to color for Chrome and Safari */
    -moz-transition: all 1s ease;
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.color_azul{
	border:1px solid blue;
}
.fondoNegro{
	background: #000;
}
.stickyMenu{
	position: fixed;
	top:0;
	z-index:9999;
}

.fuente_blanca{
	color:#fff;
}

.fondo_rojo{
	background:#e83434;
}

.letra_roja{
	color:#e83434;
}

iframe{
	width:100%;
	height: 150px;
}

.alineado_der{
	text-align: right;
}

.fondo_blanco{
	background:#fff;
}

.letra_bold{
	font-weight:bold;
}

.centrado{
	margin:0 auto;
}

.texto_centrado{

	text-align:center;
}

.al_Cien,.al_Noventa,.al_Ochenta, .al_Setenta, .al_Sesenta, .al_Cincuenta, .al_Cuarenta, .al_Treinta, .al_Veinte,.al_Diez{
	width:98%;
}

.marco_Color{
	border:1px solid red;
}

.padding_abajo_grande{
	padding:2em 0;
}

.padding_abajo_mediano{
	padding:1em 0;
}

.padding_abajo_chico{
	padding:0.5em 0;
}

.padding_chico{
	padding:0.3em;
}

.padding_subMenu{
	padding: 7em 0;
}

.margin_arriba_grande{
	margin:2em 0;
}
.margin_arriba_mediano{
	margin:1em 0;
}

.margin_lado_mediano{
	margin:0 0.5em;
}

.misBloques{
	display:inline-block;
}

.btn_menu{
	padding:0.3em 0.5em;
}

.logo_alto_ancho{
	height:80px;
}

.icono_social{
	height:30px;
	padding:0.5em;
}

.foodMenu{
	width:99%;
}

.cuadroOpcion{
	width:45%;
	padding:0.8em 0.5em 0 0;
}
.dosmil_grande{
	font-weight:bold;
	font-size:3.2em;
}

.letra_mediana{
	font-size:1.3em;
}

.letra_grande{
	font-size:1.8em;
}

.miami_beach{
	font-size:0.9em;
}

.secciones{
	width:100%;
}

.galeria_imagenes{
	width:48%;
	margin:0.1em 0 0 0.1em ;
}
.imagenMenu{
	max-width:auto;
	max-height: 500px;
}

/* Large desktop */
@media (min-width: 1025px) {
	.al_Cien{
		width:98%;
	}

	.al_Noventa{
		width:88%;
	}

	.al_Ochenta{
		width:78%;
	}

	.al_Setenta{
		width:68%;
	}

	.al_Sesenta{
		width:58%;
	}

	.al_Cincuenta{
		width:48%;
	}

	.al_Cuarenta{
		width:38%;
	}

	.al_Treinta{
		width:28%;
	}

	.al_Veinte{
		width:18%;
	}

	.al_Diez{
		width:8%;
	}
	.logo_alto_ancho{
		height:100px;
	}
	.icono_social{
		padding:0.2em;
	}
	.btn_menu{
		padding:0.2em 0.5em;
	}
	.foodMenu{
		width:64%;
	}
	.cuadroOpcion{
		width:31%;
		padding:0.8em 0.5em;
	}
	.secciones{
		width:49%;
	}
	.galeria_imagenes{
		width:18%;
		margin:0.3em;
	}
	iframe{
		height: 300px;
	}
	.padding_subMenu{
		padding: 5em 0;
	}
	.imagenMenu{
	}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	.al_Cien{
		width:98%;
	}

	.al_Noventa{
		width:88%;
	}

	.al_Ochenta{
		width:78%;
	}

	.al_Setenta{
		width:68%;
	}

	.al_Sesenta{
		width:58%;
	}

	.al_Cincuenta{
		width:48%;
	}

	.al_Cuarenta{
		width:38%;
	}

	.al_Treinta{
		width:28%;
	}

	.al_Veinte{
		width:18%;
	}

	.al_Diez{
		width:8%;
	}
	.logo_alto_ancho{
		height:90px;
	}
	.icono_social{
		padding:0.2em;
	}
	.btn_menu{
		padding:0.2em 0.3em;
		text-align:center;
	}
	.foodMenu{
		width:63%;
	}
	.cuadroOpcion{
		width:30%;
		padding:0.8em 1em 0 0;
	}
	.secciones{
		width:49%;
	}
	.galeria_imagenes{
		width:18%;
		margin:0.3em;
	}
	iframe{
		height: 200px;
	}
	.padding_subMenu{
		padding: 5em 0;
	}
	.imagenMenu{
	}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
     
/* Landscape phones and down */
@media (max-width: 480px) {

}